/.venv
/ollama
__pycache__
/.condaenv
node_modules
/.conda
/vector_db
/sandbox

# Игнорируем большие файлы моделей
voice_engine/stt/*
voice_engine/tts/*
voice_engine/silero_cache/*
!voice_engine/stt/README.md
!voice_engine/tts/README.md

# Игнорируем папку с внешними библиотеками
/vendor/
/modules

# Игнорируем автоматически генерируемые файлы
tools_config.json
settings.json