# Этот файл теперь используется только для справки или для IDE.
# Вся логика установки перенесена в install_dependencies.py

requests
llama-cpp-python
Pillow
playwright
fastapi
uvicorn[standard]
python-multipart
mcp-code-runner
chroma-mcp
tree-sitter
sentence-transformers
tree-sitter-languages
vosk
torch
silero
pyaudio
sounddevice