# Основные зависимости LangChain/LangGraph
langchain
langgraph
langchain-community

# Основной клиент для инструментов
mcp-use

# LLM
llama-cpp-python

# Веб-инструменты и серверы
requests
Pillow

# uvicorn
# python-multipart

# Инструменты для анализа кода
# tree-sitter
# sentence-transformers
# tree-sitter-languages

# Голосовой движок
vosk
pyaudio
sounddevice
phonemizer
scipy
ruaccent
huggingface-hub
# ИСПРАВЛЕНИЕ: Указываем минимальную версию для поддержки F5-TTS
transformers>=4.36.0
